<meta name='twitter:card' content='summary' />
<meta name='twitter:site' content='{{ site.twitter }}' />
<meta name='twitter:title' content='{{ site.title }}  - {{ site.tagline }}' />
<meta name='twitter:description' content='{{ site.description }}' />
<meta name='twitter:image' content='{{ site.socialMediaImage | prepend: site.baseurl }}' />

<meta property='og:url' content='{{ site.url }}' />
<meta property='og:type' content='article' />
<meta property='og:title' content='{{ site.title }}  - {{ site.tagline }}' />
<meta property='og:description' content='{{ site.description }}' />
<meta property='og:image' content='{{ site.socialMediaImage | prepend: site.baseurl }}' />
